:root {
    --bg-color: rgba(245, 243, 239, 1);
    --bg-light: rgba(250, 249, 247, 1);
    --bg-blue-grey: rgba(237, 242, 246, 1);
    --text-grey: rgba(166, 166, 166, 1);
    --green: rgba(0, 172, 102, 1);
    --dark-green: rgba(0, 109, 65, 1);
    --text-dark: rgba(41, 41, 41, 1);
    --border-grey: rgba(240, 240, 240, 1);
    --font-base: "Inter", sans-serif;
    --font-title: "Playfair Display", serif;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px var(--bg-blue-grey) inset;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: var(--font-base);
    color: var(--text-dark);
    background-color: var(--bg-color);
}

a {
    color: var(--text-dark);
    text-decoration: none;
}

a:hover {
    text-shadow: 1px 0 0 currentColor;
}

a[aria-current="page"] {
    text-shadow: 1px 0 0 currentColor;
}

h1, h2, h3, h4 {
    font-family: var(--font-title);
    font-weight: 400;
}

h1 {
    font-size: 36px;
    color: black;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: 400;
}

.inter-text {
    font-size: 14px;
}

.italic-text {
    font-style: italic;
}

.medium-text {
    font-size: 12px;
}

.small-text-10 {
    font-size: 10px;
}

.weight-300 {
    font-weight: 300;
}

.light-grey-text {
    color: var(--text-grey)
}

.dark-grey-text {
    color: var(--text-dark);
}

.danger-text {
    color: rgba(203, 45, 45, 1);
}

.alert-danger {
    margin-top: -20px;
    padding-bottom: 10px;
}

.alert-success {
    margin-top: 10px;
    color: var(--green);
}

.button-text {
    font-size: 16px;
    font-weight: 600;
}

.small-text {
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--text-dark);
}

/* Header */
.header-nav {
    padding: 15px 0 15px 150px;
}

.header-logo {
    height: 51px;
    width: 155px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.header-nav a,
.footer-nav a {
    color: var(--text-dark);
}

.nav-block-1 {
    margin-left: 78px;
    margin-right: 150px;
}

.nav-link-1 {
    margin-right: 40px;
}

.nav-block-2 {
    margin-left: 58px;
    padding-left: 58px;
    border-left: 1px solid rgba(166, 166, 166, 0.2);
}

.nav-link-2 {
    margin-right: 58px;
}

.i-message,
.i-my-account {
    vertical-align: middle;
}

.i-message {
    width: 15px;
    height: 13px;
    margin-right: 3px;
}

.i-my-account {
    width: 10px;
    height: 13px;
    margin-right: 4px;
}

/* Footer */
.footer-nav {
    background-color: white;
    padding: 23px 46px;
}

.footer-nav img {
    width: 22px;
}

.footer-container {
    display: flex;
    justify-content: end;
    gap: 40px;
}

/* Login and registration */
.login-container {
    display: flex;
    height: 886px;
    background-color: var(--bg-light);
}

.login-form-container {
    padding: 130px 248px 314px 150px;
}

.login-form-container h1 {
    margin-bottom: 56px;
}

.login-form-container form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: var(--text-grey);
}

.login-form-container form input {
    margin-bottom: 32px;
    height: 50px;
    width: 322px;
    border-radius: 6px;
    border: 1px solid var(--border-grey);
    padding-left: 10px;
}

.login-form-container form button {
    width: 322px;
    margin-bottom: 40px;
}

.login-container img {
    width: 720px;
}

.a-login {
    text-decoration: underline;
}

.a-login:hover {
    text-shadow: none;
}

/* Home */
.accueil {
    display: flex;
    padding: 80px 310px 128px 292px;
    gap: 105px;
}

.accueil img {
    width: 404px;
}

.accueil > .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
}

.accueil a {
    margin-top: 26px;
    width: 152px;
}

/* Sections */
.last-added-section {
    padding: 80px 263px 64px 263px;
    background-color: var(--bg-light);
}

.last-added-section > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.last-added-books-container {
    display: flex;
    justify-content: center;
    gap: 38px;
    width: 200px;
    height: 324px;
}

.last-added-book {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.01);
    border-radius: 10px;
    padding-bottom: 64px;
}

.last-added-book img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.last-added-book h5,
.last-added-book div {
    padding-left: 14px;
}

.last-added-book h5 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.last-added-book-author {
    padding-bottom: 22px;
}

.how-to-section {
    background-color: var(--bg-color);
    padding: 80px 236px 80px 236px;
}

.how-to-section h2 {
    margin-bottom: 24px;
}

.how-to-section p {
    margin-bottom: 40px;
    width: 397px;
    text-align: center;
}

.how-to-section > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-how-to-cards {
    display: flex;
    gap: 36px;
    height: 139px;
    justify-content: space-between;
    margin-bottom: 48px;
}

.how-to-card {
    background-color: white;
    padding: 44px 18px;
    border-radius: 10px;
    height: 139px;
    width: 215px;
    text-align: center;
}

.clay-img {
    margin: 0;
    padding: 0;
    display: block;
}

.values {
    background-color: var(--bg-color);
    padding-top: 70px;
}

.values > .container {
    width: 392px;
    margin: auto;
    position: relative;
    text-align: left;
}

.values h2 {
    margin-bottom: 25px;
}

.values p {
    margin-bottom: 20px;
}

.values span {
    margin-top: 10px;
}

.span-container {
    display: flex;
    justify-content: space-between;
}

.span-container img {
    width: 120px;
    margin-right: -75px;
    padding-bottom: 85px;
}

figcaption {
    float: right;
}

/* All books page */

.all-books-container {
    padding: 130px 263px 80px 263px;
}

.search-field-container {
    display: flex;
    justify-content: space-between;
}

.search-field {
    width: 322px;
    border: solid 1px var(--border-grey);
    border-radius: 6px;
}

input.search-field {
    padding-left: 40px;
    background: white url("../images/search-icon.svg") no-repeat 12px;
    color: var(--text-grey);
    font-size: 14px;
}

.book-card-container {
    padding-top: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
}

.book-card {
    width: 200px;
    height: 324px;
    background-color: white;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.01);
    border-radius: 10px;
}

.book-card a:hover {
    text-shadow: none;
}

.book-card h5,
.book-card div {
    padding-left: 14px;
}

.book-card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.book-card h5 {
    padding-top: 20px;
    margin-bottom: 8px;
}

.book-card div {
    margin-bottom: 23px;
}

.no-results-message {
    display: none;
}

/* Single Book page */

.single-span {
    display: inline-block;
    margin-left: 150px;
    margin-bottom: 16px;
}

.single-container {
    display: flex;
    min-height: 863px;
    width: 1440px;
}

.single-container img {
    object-fit: cover;
    width: 720px;
}

.single-book-info {
    justify-content: start;
    background-color: var(--bg-light);
    width: 720px;
    padding-left: 85px;
    padding-top: 49px;
}

.single-book-info h1 {
    margin-bottom: 16px;
}

.single-book-info h5 {
    margin-bottom: 33px;
}

.single-book-info > .line {
    height: 2px;
    width: 27px;
    background-color: var(--text-grey);
    margin-bottom: 34px;
}

.single-book-info span {
    display: inline-block;
    margin-bottom: 16px;
}

.single-book-info a {
    display: block;
    width: 0;
}

.single-book-info a:hover {
    text-shadow: none;
}

.single-book-info p {
    margin-bottom: 22px;
    padding-right: 150px;
}

.vendor-block:hover {
    color: var(--green);
}

.vendor-block {
    display: flex;
    width: fit-content;
    max-width: 250px;
    background-color: white;
    border-radius: 114px;
    text-align: center;
    align-items: center;
    padding-right: 17px;
    margin-bottom: 80px;
}

.vendor-block img {
    margin: 6px 15px 6px 6px;
    height: 48px;
    width: 48px;
    border-radius: 25%;
    object-fit: cover;
}

.single-book-info button {
    width: 485px;
    font-size: 16px;
    font-weight: 600;
}

/* Account page */
.account {
    background-color: var(--bg-light);
    padding-bottom: 102px;
}

.my-account {
    padding: 90px 155px 32px 150px;
}

.my-account-container {
    display: flex;
    height: 508px;
    gap: 33px;
    margin-top: 48px;
}

.my-account-container article {
    width: 550px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.member-block-container {
    align-items: center;
}

.profile-block {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.profile-block img {
    margin-top: 50px;
    max-width: 136px;
    height: auto;
}

.profile-block a {
    color: var(--text-grey);
}

.line-250 {
    height: 1px;
    width: 250px;
    background-color: var(--bg-color);
    margin: 50px 0 50px 0;
}

.member-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-block h3 {
    margin-bottom: 11px;
}

.member-block > .library {
    margin-top: 5px;
}

.member-block-years {
    margin-bottom: 15px;
}

.my-account-form-container {
    padding: 36px 117px;
    display: flex;
    justify-content: start;
}

.my-account-form-container h5 {
    margin-bottom: 26px;
}

.my-account-form {
    display: flex;
    flex-direction: column;
}

.my-account-form label,
.edit-book-form label {
    margin-bottom: 10px;
}

.my-account-form input,
.edit-book-form input,
.edit-book-form select,
.edit-book-form textarea {
    margin-bottom: 32px;
    height: 50px;
    border: 1px solid var(--border-grey);
    border-radius: 6px;
    background-color: var(--bg-blue-grey);
    padding-left: 15px;
    padding-right: 15px;
}

.my-account-form button {
    width: 150px;
}

#books {
    margin: 0 150px 0 150px;
    background-color: white;
    border: transparent;
    border-radius: 20px;
    width: 100%;
    max-width: 1140px;
}

#books,
#vendor-library {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

#books td, th {
    max-width: 210px;
    max-height: 130px;
    vertical-align: middle;
}

#books td,
#vendor-library td {
    font-size: 12px;
    padding: 25px 80px 25px 0;
}

#books th,
#vendor-library th {
    padding: 33px 0 9px 0;
    text-align: left;
    border-bottom: 1px solid var(--border-grey);
}

#books th:first-child,
#books td:first-child,
#vendor-library th:first-child,
#vendor-library td:first-child {
    padding-left: 66px;
}

#books td:last-child {
    padding-right: 0;
}

#books tr:nth-child(even),
#vendor-library tr:nth-child(even) {
    background-color: var(--bg-blue-grey) ;
}

#books img,
#vendor-library img {
    height: 78px;
    width: 78px;
    object-fit: cover;
}

.table-actions {
    display: flex;
    justify-content: start;
    margin-top: 35px;
}

.table-actions a,
.table-actions button {
    text-decoration: underline;
    margin-right: 28px;
    font-size: 12px;
}

.table-actions button {
    background: none;
    border: none;
}

.table-actions button:hover {
    cursor: pointer;
}

.available,
.unavailable {
    color: white;
    border-radius: 30px;
    padding: 4px 14px;
    width: 70px;
    height: 18px;
    font-size: 9px;
}

.available {
    background-color: rgba(109, 197, 161, 1);
}

.unavailable {
    background-color: rgba(197, 109, 109, 1);
}

/* Edit form */
.left-arrow {
    width: 8px;
    vertical-align: middle;
}

.edit-book {
    background: var(--bg-light);
    padding: 40px 149px 92px 150px;
}

.edit-book h3 {
    margin: 23px 0;
}

.edit-book-container {
    width: 1141px;
    height: 941px;
    padding: 56px 50px 68px 50px;
    background: white;
    border-radius: 20px;
    display: flex;
    gap: 118px
}

.edit-book-cover {
    display: flex;
    flex-direction: column;
}

.edit-book-cover span {
    display: inline-block;
    margin-bottom: 10px;
}

.edit-book-cover img {
    width: 488px;
    height: 488px;
    margin-bottom: 23px;
}

.edit-book-cover a {
    text-decoration: underline;
    font-size: 12px;
    justify-content: end;
    margin-right: 0;
    margin-left: auto;
}

.edit-book-form {
    display: flex;
    flex-direction: column;
}

.edit-book-form input {
    width: 435px;
}

.edit-book-form textarea {
    resize: none;
    height: 356px;
    padding: 16px 12px 34px 14px;
}

.edit-book-form select {
    -webkit-appearance: none;
    background: var(--bg-blue-grey) url("../images/select-arrow.svg") no-repeat 397px;
    }

.edit-book-form button {
    width: 322px;
}

/* Vendor page */
.public-account-container {
    display: flex;
    gap: 28px;
    justify-content: center;
    padding: 103px 0 214px 0;
    background: var(--bg-light);
}

.vendor-info-block {
    width: 341px;
    background: white;
    border-radius: 20px;
    padding: 48px 0 56px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.vendor-profile-picture {
    width: 135px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.vendor-info-block h4 {
    margin-top: -10px;
    margin-bottom: 10px;
}

.member-since {
    margin-bottom: 21px;
}

.vendor-info-block > .library {
    margin-bottom: 5px;
}

.vendor-info-block > .book-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 45px;
}

.vendor-info-block button {
    width: 215px;
    padding: 22px 0;
}

.vendor-library-block {
    width: 771px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* Buttons */
.green-button {
    color: white;
    background-color: var(--green);
    border: transparent;
    border-radius: 10px;
    padding: 22px 38px 22px 38px;
}

.dark-grey-button {
    color: var(--green);
    background-color: var(--bg-color);
    border: 1px solid var(--green);
    border-radius: 10px;
    padding: 22px 38px 22px 38px;
}

.green-button:hover,
.dark-grey-button:hover {
    background-color: var(--dark-green);
    color: white;
    border-color: var(--dark-green);
    cursor: pointer;
}
